form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    margin: 20px;
    margin-right: 20px;
}

.chip-lists{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ng-invalid * {
    color: red;
}

.ng-valid * {
    color: rgb(72, 71, 71);
}