<!-- <form [formGroup]="newLocationForm"></form> -->
<form [formGroup]="newLocationForm">
  <mat-form-field>
    <mat-label>Location Name:</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sport Categorie</mat-label>
    <mat-select formControlName="sport">
      <mat-option>Clear</mat-option>
      <mat-option value="Basketball">Basketball</mat-option>
      <mat-option value="Football">Football (Soccer)</mat-option>
      <mat-option value="Tennis">Tennis</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="chip-lists">
    <div>
      <mat-label for="Roofing Selection">What is the roofing like?</mat-label>
      <mat-chip-listbox #chipList aria-label="Roofing Selection">
        <mat-chip-option
          *ngFor="let chip of roofingTags"
          (click)="toggleChipSelection(chip)"
        >
          {{ chip }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
    <div>
      <mat-label for="Condition Selection"
        >What is the condition of the infrastructure?</mat-label
      >

      <mat-chip-listbox #chipList aria-label="Condition Selection">
        <mat-chip-option
          *ngFor="let chip of conditionTags"
          (click)="toggleChipSelection(chip)"
        >
          {{ chip }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div>
      <mat-label for="Court Selection"
        >What is the infrastructure size?</mat-label
      >
      <mat-chip-listbox #chipList aria-label="Court Selection">
        <mat-chip-option
          *ngFor="let chip of courtTags"
          (click)="toggleChipSelection(chip)"
        >
          {{ chip }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>

    <div>
      <mat-label for="Flooring Selection">What is the floor made of?</mat-label>
      <mat-chip-listbox #chipList aria-label="Flooring Selection">
        <mat-chip-option
          *ngFor="let chip of flooringTags"
          (click)="toggleChipSelection(chip)"
        >
          {{ chip }}
        </mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Latitude Coordinate:</mat-label>
      <input
        type="number"
        matInput
        formControlName="latitude"
        [value]="geolocation?.[0]"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Longitude Coordinate:</mat-label>
      <input
        type="number"
        matInput
        formControlName="longitude"
        [value]="geolocation?.[1]"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="getUserGeolocation()">
      Get Location
    </button>
  </div>
  <app-map [options]="options"></app-map>
</form>
